@import url(tailwind.css);
@import url(font.css);
html,
body,
#__next {
    height: 100%;
    background: rgb(249 250 251/1)
}
.quill {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ql-container {
    overflow: hidden;
    width: 100%;
}

.ql-container-none {
    border: 0 !important
}

.ql-editor-none {
    padding: 12px 0px !important
}